<div class="info-cards">
    <div class="info-card blue">
        <img src="/assets/search.png"/>
        <h3>Find Your Movie!</h3>
        <p>Using our search function, find a movie from title from a selection of thousands!</p>
    </div>
    <div class="info-card yellow">
        <img src="/assets/log.png"/>
        <h3>Log Your Movie!</h3>
        <p>Add a movie to your Watchlist, that you can refer to later when you don't know what to watch.</p>
    </div>
    <div class="info-card green">
        <img src="/assets/review.png"/>
        <h3>Review Your Movie!</h3>
        <p>Write an indepth review of any movie you've checked off your watch list, and give it a score out of 5.</p>
    </div>
</div>