<footer>
    <h3>The Watchlist</h3>
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/movies">Backlog</a>
        <a href="/movies/new">Add A Movie</a>
    </div>
</footer>