<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'About'}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>


    <main>
        <section class="about-content">
            <h1>About Section</h1>
            <p>About section to go here</p>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
