.hero {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebf6ff;
    height: 35vh;
    background-image: url("/assets/movieapp.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero h2 {
    font-size: 32px;
    margin: 10px;
}
.hero h3 {
    font-size: 24px;
    margin: 10px;
}

.hero label{
    font-size: 18px;
    
}
.hero input{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 25px;
    margin: 4px;
    font-size: 18px;
}