@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;

}

img{
    height: 300px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin: 10px;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 8px;
}
a:hover{
    text-decoration: underline;
}
header a{
    color: #0c0c0c;    
}


.listings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.movie-card{
    min-width: 350px;
    color: white;
    background-color: #2a6a97;
    border-radius: 30px;
    padding: 24px;
    margin: 24px;
    max-width: 600px;
}

h4{
    font-size: 22px;
    margin: 10px;
}
footer{
    color: white;
    background-color: #323232;
    padding: 24px;
}
footer>a{
    color: white;
}
.btn{
    background-color: #c6a02f;
    width: 200px;
    border-radius: 25px;
    height: 30px;
    color: white;
    border: none;
    margin: 8px;
    font-size: 18px;
}
.btn:hover{
    background-color: #a98723;
}
.btn a{
    font-size: 18px;
}
.btn a:hover{
    text-decoration: none;
}

.info-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;

}
.info-card{
    min-width: 350px;
    color: white;
    background-color: #1f3e5c;

    padding: 24px;
    margin: 24px;
    max-width: 350px;
}
.info-card img{
    height: 50px;
    margin: 10px;
}
.info-card p{
    font-size: 18px;
    margin: 10px;

}
.info-card h3{
    font-size: 24px;
    margin: 10px;

}
.blue:hover{
    background-color: #2e5d8a;
}
.yellow:hover{
    background-color: #bb9737;
}
.green:hover{
    background-color: #197549;
}